.App {
  background: #303952;
}

.App-header {
  margin: 0;
  padding: 0;
  height: 100px;
  width: 100%;
  margin: 20px auto 0 auto;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.nav{
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  background: #596275;
}

.faq{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  border-radius: 50px;
  background: #596275;
}

.faq a{
  color: white;
  text-decoration: none;
  font-family: 'Arial';
  font-size: 50px;
  transition: .3s;
}

.faq a:hover{
  transform: scale(1.1);
}

.LogoAirbnb {
  width: 300px;
  height: 80px;
  margin-left: 50px;
}

.searchBox {
  background: #2f3640;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
  margin-right: 50px;
}

.searchBox:hover > .searchInput {
  width: 240px;
  padding: 0 6px;
}

.searchBox:hover > .searchButton {
background: white;
color : #2f3640;
}

.searchButton {
  color: white;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.searchInput {
  border:none;
  background: none;
  outline:none;
  float:left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}

.destinationHome{
  width: 100%;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 100px;
  justify-content: center;
  text-align: center;
}

.destination {
  list-style: none;
  color: white;
  background: #596275;
  padding-top: 20px;
  border-radius: 15px;
  height: 300px;
}

.imgPays{
  margin-top: 20px;
  height: 300px;
  width: 100%;
  border-radius: 15px;
  bottom: 0;
}

.App-link {
  color: #61dafb;
}